/*Reset
-------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #959595;
}

a{
    text-decoration: none;
    color: #f71d1d;
}
a:houver{
    color: #900;
}

ul{
    list-style: none;
}

h1, h2{
    color: darkred;
}

/*Geral
-------------------------------*/
.row{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.content{
    width: 1024px;
    margin: 0 auto;
}

/*Header
-------------------------------*/
.header{
    padding: 10px 0;
}
.header-logo{
    float: left;
}
.header-logo h1 a{
    color:#959595;
}
.header-logo h1 a span.html{
    color: #016fba;
}
.header-logo h1 a span.css{
    color: #afe526;
}


.header-menu{
    float: right;
    padding: 9px 0;

}
.header-menu ul li{
    display: inline-block;
    margin-left: 20px;
}

/*Bem-vindo
-------------------------------*/
.bem-vindo{
    background-color: #ff6969;
    padding: 20px 0;
    text-align: center;
}
.bem-vindo  .content{
    width: 620px;
}
.bem-vindo .content h1{
    color: #fff;
}
